@model List<MvcTry1.Models.CartItemViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm("Cart", "Products", FormMethod.Post))
{
  <table class="table">
    <tr>
        <th>
            @Html.LabelFor(model=> model[0].ItemId)
        </th>
        <th>
            @Html.LabelFor(model => model[0].ItemPrice)
        </th>
        <th>
            @Html.LabelFor(model => model[0].Quantity)
        </th>
    </tr>

      
  @for ( int i =0; i < Model.Count; i++)
  {
    <tr>
        <td>
            @Html.DisplayFor(model=> model[i].ItemId)
        </td>
        <td>
            @Html.DisplayFor(model => model[i].ItemPrice)  
        </td>
        <td>
            @Html.TextBoxFor(model => model[i].Quantity, new { type = "number", min = "0", max = "9999" })
            @Html.HiddenFor(model => model[i].ItemId)
        </td>
    </tr>
    }
   </table>
<p>
    <input type="submit" value="To Cart" class="btn btn-default" />
</p>
}